/* Some basic styling for the page */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: lightblue;
  }
  h1 {
    text-align: center;
    text-size-adjust: 10 rem;
  }
  .car-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .car {
    margin: 10px;
  }
  